<!-- start of header content  -->
<div class = "header-container">
	<div class = "header-wrapper">
		<ul>
			<li id ="sign">KuldeepMalik</li>
			<a href="#"><li>ABOUTME</li></a>
			<a href="#"><li>WORK</li></a>
			<a href="#"><li>CLIENTS</li></a>
			<a href="#"><li>LET'STALK</li></a>
		</ul>
	</div>	
</div>
<!-- end of header content -->


<!-- start of content-container -->
<div class = "content-container">
	<div class ="content-wrapper">
		<a href="#"><div class = "arrow"><img src="images/left arrow.png" alt="image"></div></a>
		<div class ="content-wrapper-left">
			<h1>HELLO,</h1>
			<h2>I'M KULDEEP MALIK</h2>
			<h4>SOFTWARE ENGINEER</h4>
			<h4>aaaaaaaajjjjkklllllllllllllldskdjakjaksdjajkdjsakjk</h4>
			<h5>THANK YOU</h5>
		</div>
		<div class ="content-wrapper-right">
			<img src="images/tommy.jpg" alt="tommy">
		</div>
		<a href="#"><div class ="arrow"><img src="images/right arrow.png" alt="image"></div></a>
	</div>
</div>
<!-- end of content-container  -->


<!-- start of about me section  -->
<div class = "aboutMe-container">
	<div class ="aboutMe-wrapper">
		<h2>ABOUT ME</h2>
		<h4>xkjsalkdjlakjlakdjaslfkjsdjfsdjfdjsfhksjfhsjdfhjsdhjdbchbhsbjhfsdfhkfjkhjhakjdadjasdasdnjcdbchbhsdcbjsdchbsjdhcbsjhcbjsdhcbjsdhcbjdshcbsdjh</h4>		
	</div>
</div>
<!-- end of about me section -->