<!-- start of header content  -->
<div class = "header-container">
	<div class = "header-wrapper">
		<ul>
			<li>SIGNATURE</li>
			<li>ABOUT ME</li>
			<li>WORK</li>
			<li>CLIENTS</li>
			<li>LET'S TALK</li>
		</ul>
	</div>	
</div>
<!-- end of header content -->


<!-- start of content-container -->
<div class = "content-container">
	<div class ="content-wrapper">
		<div class = "left-arrow"></div>
		<div class ="content-wrapper-left">
			<h1>HELLO,</h1>
			<h2>I'M KULDEEP MALIK</h2>
			<h4>SOFTWARE ENGINEER</h4>
			<h4>aaaaaaaajjjjkklllllllllllllldskdjakjaksdjajkdjsakjk</h4>
			<h5>THANK YOU</h5>
		</div>
		<div class ="content-wrapper-right">
			
		</div>
		<div class ="right-arrow"></div>
	</div>
</div>
<!-- end of content-container  -->